body{
    background-image: linear-gradient(120deg, black, #28c8d4, #2845d4, black);
    background-color: #28c8d4;
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
img{
    width: 400px;
    height: 200px;
}
#banner{
    display: grid;
    margin: 5%;
    padding: 2%;
    flex-direction: row;
}
#content{
    backdrop-filter: blur(100px);
}
#courses{
    display: grid;
    width: 100%;
    height: auto;
    margin: 10%;
    padding: 2%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}